@{
    <h3>Values returnd by Transient scope:</h3>
    <p>@ViewBag.Transient1</p>
    <p>@ViewBag.Transient2</p>
    <hr />
    <h3>Values returned by Scopped scope:</h3>
    <p>@ViewBag.Scopped1</p>
    <p>@ViewBag.Scopped2</p>
    <h3>Values returned by Singleton scope:</h3>
    <p>@ViewBag.Singleton1</p>
    <p>@ViewBag.Singleton2</p>
}
